html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(45deg, rgba(196, 196, 255, 1) 1%, rgba(255, 204, 233, 1) 50%, rgba(207, 245, 255, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* 這段很重要，不要任意刪掉 */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.body_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(255, 255, 255);
    background-image:
        radial-gradient(closest-side, rgb(216, 201, 255), rgba(144, 219, 125, 0)),
        radial-gradient(closest-side, rgb(149, 193, 255), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgb(255, 200, 136), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgb(255, 180, 196), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgb(200, 255, 137), rgba(235, 105, 78, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
}

.body_background::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax910vmax,
            100vmax1080vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax -10vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            -20vmax -10vmax,
            30vmax 70vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax 20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }
}

:root {
    --Layout-x-padding: 150px;
    --LOGO-x-padding: 35px;
    --Nav-x-padding: 20px;
    --PlayStyle: linear-gradient(90deg, #FFF 17%, rgba(255, 255, 255, 0.70) 30.77%);
    --MusicCrad-radius: 20px;
    --Search-SearchBox-radius: 40px;
    --RecentEventsCrad-radius: 20px;
    --RecentEventsCrad-x-padding: 150px;
    --RecentEventsCrad-ActivityList-x-padding: 45px;
    --White: white;
    --Color-01: #34268C;
    --Color-02: #1E1C59;
    --Color-03: #0CF25D;
    --Color-04: #141414;
    --Color-05: #F6F6F6;
    --Color-06: #899438;
    --Color-07: #68609E;
    --Color-08: #E2F263;
    --white-50: rgba(255, 255, 255, 0.50);
    --Color-gray-300: #979797;
    --Color-gray-500: #666666;
    --Button-radius: 15px;
    --MusicCard-radius: 20px;
    --List-radius: 10px;
}

h1 {
    font-family: "Noto Sans TC";
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0px;
}

h2 {
    font-family: "Noto Sans TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0px;
}

h3 {
    font-family: "Noto Sans TC";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    line-height: 40px;
    margin: 0px;
}

h4 {
    font-family: "Noto Sans TC";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

h5 {
    /* H5-Font-tw/en */
    font-family: "Noto Sans TC";
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    line-height: 100%;
}

h6 {
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    line-height: 100%;
}

.h6 {
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    line-height: 100%;
}

p {
    color: #000;
    /* P-Font-tw/en */
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    line-height: 100%;
}

.p {
    color: #000;
    /* P-Font-tw/en */
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    line-height: 100%;
}

a {
    text-decoration: none;
}

.medium {
    visibility: hidden;
}

.button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: var(--Button-radius);
    background: var(--white-50);
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.button:hover {
    cursor: pointer;
    background: var(--Color-08);
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}