#main_genres {
    width: 100%;
    margin-top: 80px;
    min-height: calc(100vh - 60px);
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}