/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--Layout-x-padding);
    background: var(--white-50);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    z-index: 10000;
}

#Logo {
    display: flex;
    padding: 0px var(--LOGO-x-padding);
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

#Logo_img {
    width: 70px;
    height: 70px;
}

.Navbar {
    display: flex;
    padding: 10px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

#Search_medium {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    gap: 10px;
    visibility: hidden;
}

#Search_pc {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
}

#search_Input {
    display: flex;
    width: 350px;
    height: 40px;
    padding: 0px 15px;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px solid;
    font-size: 18px;
    border-radius: var(--Search-SearchBox-radius);
    background: transparent;
    /* Button */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

#search_Input:focus {
    outline: 0;
    border-radius: var(--Search-SearchBox-radius);
    background: var(--white-50);

    /* search-Hover */
    box-shadow: 5px -5px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 5px 0px rgba(210, 210, 210, 0.80) inset, 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#search_Input_medium {
    display: flex;
    width: 350px;
    height: 40px;
    padding: 0px 15px;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px solid;
    font-size: 18px;
    border-radius: var(--Search-SearchBox-radius);
    background: transparent;
    /* Button */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

#search_Input_medium:focus {
    outline: 0;
    border-radius: var(--Search-SearchBox-radius);
    background: var(--white-50);

    /* search-Hover */
    box-shadow: 5px -5px 4px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 5px 0px rgba(210, 210, 210, 0.80) inset, 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#SearchBox {
    display: none;
    height: auto;
    max-width: 650px;
    padding: 20px 20px;
    position: absolute;
    top: 75px;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: center;
    background: var(--White);
    border-radius: var(--MusicCard-radius);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    gap: 15px;
}

#SearchBox_medium {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9999;
    display: flex;
    height: auto;
    margin: 0px 10px;
    max-width: 650px;
    padding: 20px 20px;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: center;
    background: var(--White);
    border-radius: var(--MusicCard-radius);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    gap: 15px;
    flex-direction: column;
    display: none;
}

#search_setring {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px solid;
    background-image: url(../assets/icon/setring.svg);
    background-size: 100%;
    object-fit: cover;
}

.setringBox {
    display: flex;
    position: absolute;
    top: 75px;
    right: 180px;
    width: 150px; /* 預設寬度 */
    height: auto;
    padding: 20px;
    z-index: 999;
    flex-direction: column;
    background-color: var(--white-50);
    border-radius: var(--MusicCrad-radius, 20px);
    box-shadow: -5px 5px 5px 0px rgba(255, 255, 255, 0.50) inset, 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: width 0.4s, height 0.4s, padding 0.4s;
}

.setringBox_langselect {
    margin: 10px 0px;
    padding: 0px 20px;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    background-color: transparent;
    box-shadow: -5px 5px 5px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 10px 3px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
}

.setringBox_langselect option {
    background-color: rgba(255, 255, 255, 0.753);
}

.setringBox.colse {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.setringBox.colse p {
    width: 0px;
    height: 0px;
    color: transparent;
}
.setringBox.colse select {
    padding: 0px;
}
#PopularKeywords {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

/* 登入按鈕 */
#SiginIn {
    display: flex;
    width: auto;
    height: 50px;
    padding: 10px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    border-radius: var(--Button-radius, 15px);
    border: 1px solid var(--White, #FFF);
    background: var(--Button02, linear-gradient(269deg, rgba(255, 255, 255, 0.00) 0.67%, rgba(255, 255, 255, 0.60) 99.44%));
    /* Music */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    transition: 0.15s ease;
}

#SiginIn:hover {
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.80) inset, 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#SiginIn:active {
    translate: 1px;
}

#Nav_medium {
    display: flex;
    width: 60px;
    height: 50px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    aspect-ratio: 6/5;
    visibility: hidden;
}

/* 關鍵字按鈕 */
.SearchKeywords {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 5px;
    border-color: transparent;
    border-radius: var(--Button-radius);
    border-bottom: 6px dashed var(--Color-01);
    border-left: 5px dashed var(--Color-01);
    /* Button */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.SearchKeywords:hover {
    background-color: var(--Color-08);
    transition-duration: 1s;
}

#SearchHistory {
    display: flex;
    align-items: center;
    gap: 43px;
    align-self: stretch;
}

#SearchHistoryBox {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}

/* 歷史紀錄按鈕 */
.SearchHistory_button {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 10px;
}

.SearchHistory_button:hover {
    background-color: #E2F263;
    transition-duration: 1s;
}

/* 清除歷史紀錄按鈕 */
.ClearButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: transparent;
    border-radius: var(--Button-radius);

    /* Button */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.ClearButton:hover {
    background-color: #E2F263;
    transition-duration: 1s;
}

.ClearButton:active {
    transform: scale(0.5);
}

/* 登入視窗 */
.Login {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--white-50);
    z-index: 99999;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.Login.colse {
    display: none;
}

body.no-scroll {
    overflow: hidden;
}

.LoginBox {
    display: flex;
    justify-content: center;
    background-color: var(--white-50);
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

.LoginBox h2 {
    color: var(--Color-01);
}

.LoginBox p {
    color: var(--Color-01);
}

#LoginBox_account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 20px;
    margin: 15px 0px;
    background-color: var(--white-50);
    border-radius: var(--MusicCrad-radius);
}

#LoginBox_account input {
    border: transparent;
    background-color: transparent;
    font-size: 24px;
}

#LoginBox_account input:focus {
    border: transparent;
    background-color: transparent;
    outline: 0;
}

#LoginBox_account p {
    color: var(--Color-gray-300);
}

#LoginBox_Remember {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

#LoginBox_Remember p {
    color: var(--Color-gray-300);
}

.LRC {
    position: relative;
    top: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
    color: var(--Color-01);
}

.LRC:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 3px;
    height: 10px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

#LRC:checked~.LRC {
    border-color: transparent;
    background: var(--Color-01);
    animation: jelly 0.6s ease;
}

#LRC:checked~.LRC:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.LoginBox_checkbox {
    display: flex;
    width: 20px;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.hidden-xs-up {
    display: none !important;
}

.LoginBox_SiginIn {
    display: flex;
    margin: 15px;
    gap: 20px;
}

.LoginBox_SiginIn_box {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    gap: 10px;
    transition: linear 0.2s;
}

.LoginBox_SiginIn_box:hover {
    padding: 13px;
    cursor: pointer;
}

.LoginBox_SiginIn_box .google {
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg");
    background-size: cover;
}

.LoginBox_SiginIn_box .facebook {
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg");
    background-size: cover;
}

.LoginBox a {
    color: var(--Color-01);
    text-decoration: underline;
}