.help_main {
    margin-top: 80px;
    min-height: calc(100vh - 60px);
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Nav_help {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 240px;
    width: 240px;
    max-width: 400px;
    padding: 80px 0px 30px 2px;
    background: var(--white-50);
    backdrop-filter: blur(20px);
    z-index: 1;
    flex-shrink: 0;
    transition: 0.3s linear;
}

.help_box h5 {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0px 25px;
    color: var(--Color-02);
}

.help_box p {
    display: flex;
    padding: 0px 25px;
    color: var(--Color-02);
}

.help_box p:hover {
    color: var(--Color-01);
    cursor: pointer;
}

.help_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
}

.help_main .title {
    display: flex;
    padding: 41px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    align-self: stretch;
}

.help_main .title .liil {
    display: flex;
    align-items: center;
    gap: 5px;
}

.help_main .title .liil a {
    color: var(--Color-02);
}

.help_main .title .liil a:hover {
    color: var(--Color-01);
}

.help_main .title span {
    width: 10px;
    height: 10px;
    background-color: var(--Color-02);
    mask-image: url(../assets/icon/Icon-right.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.help_main .body {
    display: flex;
    padding: 25px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.help_main .body p {
    flex: 1 0 0;
    align-self: stretch;
    line-height: 50px;
}

.help_main>div {
    opacity: 0;
    display: none;
    transition: 1s;
}

div.help_main_01 {
    opacity: 1;
    display: block;
    transition: 1s;
}