/* Main1 */
#main1 {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#main1_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#MusicCharts {
    display: flex;
    padding: 0px;
    align-items: flex-end;
    align-content: flex-end;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.view-all {
    color: var(--Color-gray-500);
    margin-bottom: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.view-all:hover {
    color: white;
}

.MusicCradList {
    display: flex;
    height: 240px;
    max-width: 100%;
    overflow-x: auto;
    padding: 15px 65px;
    align-items: center;
    gap: 52px;
    flex-shrink: 0;
    align-self: stretch;
}

.MusicCradList::-webkit-scrollbar {
    height: 6px;
    background: transparent;
}

.MusicCradList:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#Music_Charts_List {
    display: flex;
    width: 100%;
    height: 575px;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 15px;
    overflow-x: auto;
}

#Music_Charts_List::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#Music_Charts_List:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

/* main1_2 第二面*/
.main1_2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.main1_2 img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.main1_2_text {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main1_2_text a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: var(--Button-radius);
    background: var(--white-50);
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.main1_2_text a:hover {
    background: var(--Color-08);
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

.main1_2_text a:visited {
    color: var(--Color-04);
}

.AlbumMusic {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.ArtistPhotos {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 350px;
    background-image: url(../assets/img/ArtistPhotos.jpg);
    background-size: cover;
}