@keyframes CDRotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* 音樂卡片 */
.MusicCrad {
    position: relative;
    width: 210px;
    height: 210px;
    min-width: 210px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 0px solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.MusicCrad::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.76) 30%, rgba(255, 255, 255, 0) 50%);
    z-index: 0;
}

.MusicCrad_1 {
    width: 180px;
    height: 180px;
    align-items: center;
    z-index: 3;
}

.MusicCrad_2 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    color: white;
    padding: 10px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    margin: 0px 25px;
    z-index: 1;
    transition: margin 0.3s ease;
}

.MusicCrad_text {
    position: relative;
    margin-top: 30px;
    z-index: 2;
    color: black;
    align-items: flex-start;
}

.MusicCrad_text>p {
    display: flex;
}

/* CD圖示 */
.CD_icon {
    position: relative;
    /* 作為定位參考點 */
    width: 90px;
    height: 90px;
    z-index: 0;
    padding: 0px 25px;
    visibility: hidden;
    transition: padding 0.3s;
}

.CD {
    position: absolute;
    width: 100%;
    height: 100%;
    mask-image: url(../assets/icon/CD2-m.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    z-index: 1;
}

.CD1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/icon/CD1.svg);
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.CD3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/icon/CD3.svg);
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
}

/* 音樂卡片動畫 */
.MusicCrad:hover .MusicCrad_2 {
    margin: 0px;
}

.MusicCrad:hover .CD_icon {
    padding: 5px 40px;
    visibility: visible;
}

.MusicCrad:hover .CD {
    animation: CDRotate 5s linear infinite;
}

/* 音樂列表 */
.Music_List {
    display: flex;
    height: 70px;
    max-height: 70px;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.Music_item_img {
    width: 50px;
    height: 50px;
    background: var(--Color-02);
    border-radius: var(--List-radius);
    background-image: url(../assets/img/500x500.jpg);
    background-size: cover;
}

.Music_item_text {
    display: flex;
    max-width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.Music_item_playtime {
    display: flex;
    min-width: 80px;
    padding: 0px 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

/* 音樂列表額外功能 */
.Music_item2 {
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

/* 愛心物件 */
.Music_item_like {
    display: flex;
    width: 69px;
    height: 40px;
    padding: 5px 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    aspect-ratio: 69/40;
    border-radius: var(--Button-radius);
    border: 0px solid;
    background: var(--white-50);
    /* Button風格 */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.icon_like {
    width: 24px;
    height: 24px;
    background-color: var(--Color-gray-500);
    mask-image: url('../assets/icon/Icon-like.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.Music_item_like_text {
    display: flex;
    justify-content: flex-end;
    color: var(--Color-gray-500);
}

.Music_item_like:hover {
    background-color: transparent;
}

.Music_item_like:hover>.icon_like {
    background-color: rgb(255, 62, 120);
}


/* 增加播放列表物件 */
.Music_item_share {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: var(--Button-radius);
    border: 0px solid;
    background: var(--white-50);
    /* Button風格 */
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
}

.icon_share {
    width: 24px;
    height: 24px;
    background-color: var(--Color-gray-500);
    mask-image: url('../assets/icon/Icon-share.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.Music_item_share:hover .icon_share {
    background-color: var(--Color-01);
}

.Music_item_share:hover {
    background-color: transparent;
}

.Music_List:hover {
    border-radius: var(--List-radius, 10px);
    background: var(--white-50, rgba(255, 255, 255, 0.50));
}

.Music_List:hover .Music_item2 {
    display: flex;
}

/* 每日音樂卡片 */
#DailyMusic {
    display: flex;
    height: 551px;
    min-width: 300px;
    max-width: 330px;
    margin: 0px 20px;
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
    border-radius: 20px;
    background: var(--white-50);

    /* MusicCrad */
    box-shadow: -5px 5px 5px 0px rgba(255, 255, 255, 0.50) inset, 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#MusicCharts_playmusic {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    align-self: stretch;
    flex-wrap: wrap;
}

#DailyMusic .title {
    color: var(--Color-02);
}

#DailyMusic>hr {
    width: 300px;
    border: 1px solid var(--Color-02);
    border-radius: 2px;
}

#DailyMusic .DailyMusic_title {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#DailyMusic .DailyMusic_text {
    display: flex;
    padding: 0px 15px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}
/* 按鈕列表 */
.Button_list {
    display: flex;
    margin-top: 15px;
    padding: 15px var(--Layout-x-padding, 32px);
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.genres_bt {
    height: 35px;
    border-radius: 15px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.44) inset, 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

.genres_bt:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.genres_bt:visited {
    color: var(--Color-04);
}

.genres_bt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(144, 103, 255, 0.5);
    transform: skewX(45deg) translateX(230px);
    transition: 0.5s ease;
}

.genres_bt:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

.genres_bt svg {
    width: 3em;
}